@import "tailwindcss";
@import "./App.css";


body {
  font-family: "Google Sans", sans-serif;
  background-color: #502274;
}


@theme{
  --font-sans: "Google Sans", sans-serif;
  --color-primary: #502274;
  --color-secondary: #D2E823;
  
}

@utility flex-center{
  @apply flex justify-center items-center;
}


  
  @utility flex-col-center{
    @apply flex flex-col justify-center items-center;
  }
  @utility absolute-center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
